<div class="titlewrapper mt-3">
  <div class="admintitle"><h3>instant management</h3></div>
</div>
<table class="table table-hover table-condensed admintable">
  <thead>
  <tr>
    <th>description</th>
    <th>instant</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <% @instants.each do |t| %>
      <tr data-item-id=<%= "#{t.id}" %> class="item">
        <td><%= t.description %></td>
        <td><%= t.instant.strftime("%-d %b %Y %T %Z") if t.instant %></td>
        <td>
          <%= link_to 'edit', instants_path(t) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
