<p>You have canceled your reservation for '<%= @accommodation.get_label %>' for the <%= Time.new.year %> FnF camp out.</p>
<p>If this was a mistake, please try to re-book the room. If you have issues, please contact the cabins crew at cabins@fnf.org.</p>
<p>FnF <%= Time.new.year %> Cabins<br/><a href="https://cabins.inappropirates.com">https://cabins.inappropirates.com</a></p>
