<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @posts.each do |p| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= p.title.try(:html_safe) %></h5>
          <p class="card-text">
            <%= p.body.try(:html_safe) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
