// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=email], textarea, input[type=password] {
    width: 100%;
}

.admin {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  border: 2px solid;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
