<% if !user_reservation? %>
  <div class="row pt-3 mx-auto">
    <div class="col-10 offset-1 status alert-info">
      <% if !current_user.tier.nil? %>
        <% if current_user.tier.available <= DateTime.now %>
          <strong>You can book now!</strong>
          <div>You are approved and your tier's booking window has been opened, get on it!
            (select <%= link_to 'book!', accommodations_path %> above)
          </div>
        <% else %>
          <strong>Your tier has been assigned!</strong>
          <div>Your tier request has been processed and you will be able to book accommodations starting on
            <strong><%= current_user.tier.available.strftime("%a %-d %b %Y %T %Z") %></strong>. In the meantime, feel free to
              browse the lodgings, but you won't be able to reserve.</div>
        <% end %>
      <% else %>
        <strong>You are registered as a user and waiting on tier approval!</strong>
        <div>Your tier request has not yet been processed. Please contact
          <a href="mailto:cabins@fnf.org">cabins@fnf.org</a> if you think an error has occurred.
          In the meantime, feel free to browse the lodgings, but you won't be able to reserve until your tier opens up.
        </div>
      <% end %>
    </div>
  </div> <!-- end status row -->
<% end %>
